@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}


$background-color: #388D4F;

.main-container{
  height: 1400px;
  width: 100%;
  background-color: $background-color;
  padding: 5px;
  color: #fff;

  .transfer-panel{
    margin-top: 20px;

    #strong-text{
      font-weight: bold;
    }

    #tituloUno{
      font-size: 40px;
      font-weight: 500;
    }

    p{
      margin-top: 5px;
    }

    #print-link{
      color: #fff;
      margin: 15px 0;
    }

    #continue-btn{
      margin: 5px 0;
    }
  }

  .operation-panel{
    padding: 3px;
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
    color: #000;
    height: 650px;
    box-shadow: 0 0.5px 3px 0.2px rgb(197, 197, 197);

    img{
      width: 40%;
      margin-left: 30%;
    }

    #operation-title{
      color: #121212;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center
    }

    #operation-value{
      color: #121212;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center
    }

    #operation-date{
      color: #121212;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center
    }


    .table-transfer{
      padding: 20px 5px 5px 0;
      width: 100%;
      tr{
        
        td{
          width: 40%;
          text-align: right;
        }

        td:first-child{
          width: 60%;
          text-align: left;
        }
        
      }
    }
  }
}


@media screen and (min-width: 700px) {
  .main-container{
    height: 900px;
    display: flex;

    .transfer-panel{
      width: 45%;
      margin-left: 10%;
      padding: 10px;
    }

    .operation-panel{
      width: 35%;
      margin-left: 30px;
    }
  }

}

